In [1]:
import mysql.connector as connection 
import pandas as pd
import mysql

In [21]:
mydb = mysql.connector.connect(
    host="34.16.84.34",
    user="root",
    passwd="123Qaz456$$D8",
    database="classicmodels"
)

query = "select * from classicmodels.payments;"

df = pd.read_sql(query,mydb)

mydb.close()

df.head()

C:\Users\fout\AppData\Local\Temp\ipykernel_25224\1181526821.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,mydb)

   customerNumber checkNumber paymentDate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98